$primary-color: #19747e;

.container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 620px;
  margin-top: 80px;
  border: 2px solid $primary-color;
  border-radius: 8px;
  padding: 40px;
}
