$primary-color: #19747e;

.home-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  height: 100%;
}

.home-content-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 120px;
  @media (max-width: '767px') {
    flex-direction: column;
  }
}

.map-header {
  text-align: center;
  color: $primary-color;
}

.map-container {
  display: flex;
  flex-direction: column;
}

.map {
  width: 400px;
  height: 400px;
  @media (max-width: '767px') {
    align-self: center;
  }
}

.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: $primary-color;
  height: 60px;
}

.container-right {
  display: flex;
  padding-right: 40px;
  align-items: center;
}

.user-container {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.loading-container {
  h2 {
    color: $primary-color;
    font-size: 24px;
    margin-top: 180px;
    text-align: center;
  }
}
